# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

src/main/resouces/package.json
src/main/resouces/package-lock.json
src/main/resouces/tsconfig.json
src/main/resources/node_modules
src/main/resources/assets/decoratives/models/blocks/shingles/generate.js
src/main/resources/assets/decoratives/models/blocks/shingles/generate.ts