# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

/src/main/resources/node_modules
/src/main/resources/assets/decoratives/textures/block/deepslate_tiles.png
/src/main/resources/assets/decoratives/models/block/shingles/generate.js
/src/main/resources/assets/decoratives/models/block/shingles/generate.ts
/src/main/resources/assets/decoratives/textures/block/oak_planks.png
/src/main/resources/package.json
/src/main/resources/package-lock.json
/src/main/resources/tsconfig.json
